.characters {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
    max-width: 1280px;

    &__list {
        &__itens {
            display: flex;
            gap: 5rem;
            padding-top: 5rem;

            &__item {
                text-align: center;
                max-width: 340px;
                transition: all ease 0.5s;

                &:nth-child(1),
                &:nth-child(3) {
                    padding-top: 4rem;
                }

                p {
                    padding-top: 1rem;
                    width: 100%;
                }

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}
