@use 'variaveis';

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1rem 0;
    width: 100%;

    &__navbar {
        &__list {
            &__itens {
                display: flex;
                justify-content: center;
                text-align: center;
                gap: 1rem;

                &__item {
                    a {
                        text-decoration: none;
                        border-bottom: 1px solid transparent;
                        transition: all ease 0.3s;

                        &:hover {
                            border-bottom: 1px solid variaveis.$corDoTexto;
                        }
                    }
                }
            }
        }
    }
}
