@use 'hero';
@use 'characters';
@use 'watch';
@use 'footer';
@use 'header';
@use 'variaveis';

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

@mixin title($fontSize: 3rem) {
    font-size: $fontSize;
    color: variaveis.$corDoTitulo;
    font-family: 'Bebas Neue', sans-serif;
}

@mixin text($fontSize: 1.5rem) {
    font-size: $fontSize;
    color: variaveis.$corDoTexto;
    font-family: 'Playfair', serif;
}

body {
    background-color: #41374b;
}

.container {
    max-width: 1280px;
    margin: 0 auto;

    @media (max-width: 768px) {
        max-width: 620px;
    }
}

.title {
    @include title();

    @media (max-width: 768px) {
        @include title(2rem);
    }
}

.text {
    @include text();

    @media (max-width: 768px) {
        @include text(14px);
    }
}

.text--big {
    @include text(2rem);
    @media (max-width: 768px) {
        @include text(1.275rem);
    }
}

.text--small {
    @include text(1rem);

    @media (max-width: 768px) {
        @include text(12px);
    }
}
